# Ignore Python compiled files
*.pyc
*.pyo
*.pyd

# Ignore __pycache__ directories
__pycache__/

# Ignore virtual environment directories
venv/
env/
ENV/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore local settings
local_settings.py

# Ignore logs
*.log

# Ignore MacOS specific files
.DS_Store

# Ignore directories created by testing frameworks
.coverage
*.cover
.coverage.*
.cache
nosetests.xml
coverage.xml

# Ignore build directories
build/
dist/
target/
*.egg-info/
dependency-reduced-pom.xml

# Ignore Node.js dependencies
node_modules/

# Ignore editor specific files
.vscode/
.idea/
*.swp

# Ignore knowledge base
experiment/conversation_simulator/test/medical_data/
chroma_db/

.env